.edit__tags * {
    font-size: 1.2em;
}
  
.edit__delete {
    float: right;
}
  
.edit__tags__form > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    padding: 10px 5px;
    margin: 1em 0;
}
  
::-webkit-scrollbar {
    scrollbar-width: 0;
}
