.nav__item {
    display: flex;
    align-items: center;
    padding: 1.2em 1em;
    border: none;
    background-color: transparent;
}

.nav__item:hover {
    background-color: rgb(255, 232, 162);
    transition: 500ms;
    cursor: pointer;
}

.nav__item-icon {
    min-width: 1em;
    font-size: 2em;
    margin-right: 0.6em;
    color: peru;
}
  
.nav__item-title {
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
